---
layout: default
title: "lds"
description: "all posts tagged lds"
summary: "all posts tagged lds"
feed: "lds.rss"
---
{% for post in site.tags.lds %}
<article class="post">
	<header class="article-heading">
		<h1>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h1>
		<span class="meta-information">by {{ post.author }} on {{ post.date | date: "%B %d %Y" }}</span>
	</header>
	{{ post.summary }}
	<a href="{{ post.url }}">Read more...</a>
	<span class="meta-information">
	Tags: 
	{% for tag in post.tags %}
		<a href="/{{ tag }}.html">{{ tag }}</a>
	{% endfor %}
	</span>
</article>
{% endfor %}