---
layout: default
title: "web-dev"
description: "all posts tagged web-dev"
summary: "all posts tagged web-dev"
feed: "web-dev.rss"
---
{% for post in site.tags.web-dev %}
<article class="post">
	<header class="article-heading">
		<h1>
			<a href="{{ post.url }}">Crafted.Volva: Basic authentication module for IIS7</a>
		</h1>
		<span class="meta-information">by {{ post.author }} on {{ post.date | date: "%B %d %Y" }}</span>
	</header>
	{{ post.summary }}
	<a href="{{ post.url }}">Read more...</a>
	<span class="meta-information">
	Tags: 
	{% for tag in post.tags %}
		<a href="/{{ tag }}.html">{{ tag }}</a>
	{% endfor %}
	</span>
</article>
{% endfor %}