<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>.lj/{{ page.title }}</title>
		<meta name="robots" content="index,follow" />
		<meta name="description" content="{{ page.description }}" />
        <meta name="viewport" content="width=device-width">
		{% if page.url == "/index.html" %}
			<link rel="canonical" href="{{ site.httppath }}" />
		{% else %}
			<link rel="canonical" href="{{ site.httppath }}{{ page.url }}" />
		{% endif %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/shCoreRDark.css">
		<link rel="stylesheet" href="/css/main.css">
        
        <script src="/js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        
        <header class="site-header">
            <div class="heading">
                <h1><a href="/">.lj</a></h1><h2>{{ page.title }}</h2>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <section class="span9">
						{{content}}
				</section>
                <aside class="span3">
                    <nav class="pod">
                        <h4 class="list-heading">menu</h4>
                        <ul class="list">
                            <li><a href="/">blog</a></li>
                            <li><a href="/about.html">about me</a></li>
                            <li><a href="/projects.html">projects</a></li>
                        </ul>
                    </nav>
                    <div class="pod">
                        <h4 class="list-heading">tags</h4>
                        <ul class="list">
                            <li><a href="/web-dev.html">web dev</a></li>
                            <li><a href="/lds.html">lds stuff</a></li>
                            <li><a href="/ramblings.html">ramblings</a></li>
                        </ul>
                    </div>
                    <div class="pod">
                        <h4 class="list-heading">contact</h4>
                        <dl class="list">
                            <dt>twitter</dt>
                            <dd><a href="https://twitter.com/jussinen">@jussinen</a></dd>
                            <dt>github</dt>
                            <dd><a href="https://github.com/jussinen">@jussinen</a></dd>
                        </dl>
                    </div>
                    <div class="pod">
                        <h4 class="list-heading">links</h4>
                        <dl class="list">
                            <dt>crafted</dt>
                            <dd><a href="http://www.crafted.co.uk" target="_blank">www.crafted.co.uk</a></dd>
                            <dt>lds</dt>
                            <dd><a href="http://www.lds.org" target="_blank">www.lds.org</a></dd>
							<dt>davidfolley.com</dt>
							<dd><a href="http://drfolley.wordpress.com" target="_blank">davidfolley.com</a></dd>
                        </dl>
                    </div>
                </aside>
            </div>

        </div> <!-- /container -->
        
        
        <footer>
            <p class="copyright">&copy; John Folley {{ site.time | date: '%Y' }}</p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/js/libs/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="/js/libs/syntax/shCore.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushBash.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushCSharp.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushCss.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushDiff.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushJScript.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushPlain.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushPowerShell.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushSass.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushSql.js"></script>
        <script type="text/javascript" src="/js/libs/syntax/shBrushXml.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
